<form action="{{ path("fos_user_security_check") }}" method="post" class="form-stacked">
    <fieldset>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="clearfix">
            <div class="input">
                <!--<input id="isignup_username"  name="username" type="text" placeholder="Username"   />
								<label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>-->

                <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Username"/>

                <!--<span class="help-block error">Invalid username or password</span>-->

            </div>
        </div>
        <div class="clearfix">
            <div class="input">
                <!-- <input id="isignup_password"  name="password" type="password" placeholder="Password"   />-->
                <!--<label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label> -->
                <p>
                    <input type="password" id="password" name="_password" placeholder="Password" /></p>
            </div>
        </div>
        <div class="clearfix">
            <div class="input">
                <ul class="inputs-list list-unstyled">
                    <li>
                        <!--<label>
                        <input id="ch"  type="checkbox" name="remember" value="1" checked="checked" />
                        <span>Remember me</span></label>-->

                        <p><input type="checkbox" id="remember_me" name="_remember_me" value="on" checked="checked"/>
                            <label for="remember_me"><span>{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</span></label></p>

                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix form-link">
            <p class="reset">R&eacute;initialiser votre <a  href="{{ path('fos_user_resetting_request') }}" title="Recover your username or password">mot de passe</a></p>
            <p class="reset"><a href="{{ path('aet_annuaire_register') }}">Inscription</a></p>
        </div>
        <div class="actions">
            <!--<input   class="button" type="submit" value="Login">-->
            <input type="submit" class="button" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </fieldset>
</form>