{% extends "::master.html.twig" %}

{% block title %}Edition page{% endblock%}


{% block aet_annuaire_body  %}



    <header>
        <h1 class="title2">Edition page</h1>
    </header>
    <link rel="stylesheet" href="{{ asset('bundles/aetannuaire/css/aetpage.css') }}" type="text/css" media="all" />

    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}

        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.title, 'Page title', {'label_attr': {'class': 'col-xs-2 control-label'}}) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.title) }}

            <div class="col-xs-6">
                {# Génération de l'input. #}
                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>


        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.urlId, 'Page url', {'label_attr': {'class': 'col-xs-2 control-label'}}) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.urlId) }}

            <div class="col-xs-6">
                {# Génération de l'input. #}
                {{ form_widget(form.urlId, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.content, 'Page content', {'label_attr': {'class': 'col-xs-2 control-label'}}) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.content) }}

            <div class="col-xs-8">
                {# Génération de l'input. #}
                {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
            </div>


        </div>

        <div class="aetpage_edit_submit"><input type="submit" value="Enregistrer" class="btn btn-primary" />  </div>
        {{ form_rest(form) }}

        {{ form_end(form) }}

    </div>

{% endblock %}