<div class="communication_list_count">
    {{ pagination.getTotalItemCount }} communication(s) trouvée(s)
</div>

{# sorting of properties based on query components
<div>

    <div>{{ knp_pagination_sortable(pagination, 'Id', 'c.id') }}</div>
    <div{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'c.title') }}</div>
</div>#}

<div class="communication_list_pagination">
    {{ knp_pagination_render(pagination) }}
</div>

{#% for communication in pagination %}
    <div class="communication_item" >
        <table>
            <tr>
                <td valign="top">

                    <div class="communication_user_and_date" >
                        <div class="communication_user_image" >

                            <a href="{{ path('aet_annuaire_communication_view', {'id': communication.id}) }}">
                                <img
                                  src="{{ asset(communication.image.webPath) }}"
                                  alt="{{ communication.image.alt }}"
                                />
                            </a>
                        </div>
                        <div class="communication_user_name"><i>Par {{ communication.user.firstName | capitalize }} {{ communication.user.lastName | upper }}</i></div>
                        <div class="communication_date"><i>Le {{ communication.date|date('d/m/Y') }}</i></div>
                    </div>

                </td>
                <td valign="top">
                    <div class="communication_title" >
                        <a href="{{ path('aet_annuaire_communication_view', {'id': communication.id}) }}">{{ communication.title|length > 80 ? (communication.title|slice(0, 80) ~ '...')|raw : (communication.title|raw) }}</a>
                    </div>
                    <div class="communication_body" >
                        {{ communication.shortDesc }}
                    </div>
                </td>
            </tr>


        </table>
    </div>
{% endfor %#}

{% for communication in pagination %}
    <div class="communication_item" >

            <div class="row">
                <div class="col-md-1">

                    <div class="communication_user_and_date" >
                        <div class="communication_user_image" >

                            <a href="{{ path('aet_annuaire_communication_view', {'id': communication.id}) }}">
                                <img
                                  src="{{ asset(communication.image.webPath) }}"
                                  alt="{{ communication.image.alt }}"
                                />
                            </a>
                        </div>
                        <div class="communication_user_name"><i>Par {{ communication.user.firstName | capitalize }} {{ communication.user.lastName | upper }}</i></div>
                        <div class="communication_date"><i>Le {{ communication.date|date('d/m/Y') }}</i></div>
                    </div>

                </div>
                <div class="col-md-9">
                    <div class="communication_title" >
                        <a href="{{ path('aet_annuaire_communication_view', {'id': communication.id}) }}">{{ communication.title|length > 80 ? (communication.title|slice(0, 80) ~ '...')|raw : (communication.title|raw) }}</a>
                    </div>
                    <div class="communication_body" >
                        {{ communication.shortDesc }}
                    </div>
                </div>
            </div>



    </div>
{% endfor %}

{# display navigation #}
<div class="communication_list_pagination">
    {{ knp_pagination_render(pagination) }}
</div>